/*....::::BODY::::....*/
body {
	font-family: "Open Sans", sans-serif;
	background-color: #f2f2f2;
	color: #000;
}

h4 {
	font-weight: bold;
}	

h1, h2 , h3 {
	font-family: "Fjalla One", sans-serif;
	font-weight: bold;
}

.panel-default {
	box-shadow: 0px 0px 5px #bfbfbf;
}

hr {
	border-top: 1px solid #b3b3b3;
	margin-top: 20px;
}

.panel-default > .panel-heading {
	background-color: #e6e6e6;
}

#titulo {
	border-bottom: 1px solid #0059b3;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-width: 10px;
}

#titulo2 {
	border-bottom: 1px solid #0059b3;
	border-width: 10px;
	text-align: center;
}

#titulo-footer {
	border-bottom: 1px solid #b3b3b3;
	margin-bottom: 20px;
}

#container-encabezado {
	margin-top: 6.5em;
}

#menu {
	list-style-type: disc;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu > li {
	float: left;
}

#menu > li h3 {
  display: block;
  color: black;
  text-align: center;
	padding: 16px;
  text-decoration: none;
}

.breadcrumb , .breadcrumb a{
	background-color:  #354164;
	color: #fff;
	text-decoration: underline;
}

.logo {
	text-align: center;
}

#mygliphs2 {
	color: #0059b3;
	font-size: 30px;
}

footer .glyphicon {
	font-size: 20px;
	color: #0059b3;
}

#mygliphs {
	color: #0059b3;
	line-height: 22px;
}

#mygliphs3 {
	color: #fff;
	line-height: 22px;
}

.list-group-item-info, .nav-pills > li.active > a , .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #0059b3;
}

.list-group-item {
	font-weight: normal;
	text-align: justify;
}

.nav-pills > li {
	border: 1px solid transparent;
}

.nav-pills > li > a {
	background-color: #354164;
	color: #fff;
	border-color: #fff;
}

.nav-pills > li > a:hover {
	background-color: #121621;
}

.btn-primary {
	background-color: #0059b3;
}

.btn-primary:hover,  .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background:  #0073e6;
}

/*....::::NAVBAR::::....*/

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
	font-family: 'Droid Sans', sans-serif;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
	background-color: #f5f5f5;
	border: none;
	font-size: 16px;
  letter-spacing: 4px;
	box-shadow: 0px 0px 5px #777;
	text-align: center;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar li a, .navbar .navbar-brand {
  color: #0033cc !important;
  display: inline-block;
	text-shadow: 0px 0px 2px gray;
}

.navbar-nav li a:hover, .navbar-nav >.active>a, .dropdown-menu>.active>a{
  color: #fff !important;
  background-color: #0059b3 !important;
	text-shadow: 2px 2px 4px #000000 !important;
	border-radius: 2px;
}

.navbar-default .navbar-toggle {
  border-style: ridge;
  color: #fff !important;
}

.navbar-nav .open .dropdown-menu {
  text-align:center;
  background-color: #e6e6e6;
}

/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 0px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/*MAPA*/

.google-maps {
	padding: 0px 0px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

	  /*.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }*/

	#titulo {
	margin-right: 4em;
	margin-left: 4em;
}

.logo {
	margin-top: 40px;
	text-align: center;
}

}

@media (min-width: 980px) {
	#titulo {
	margin-right: 9em;
	margin-left: 9em;
	}
}

@media (min-width: 1280px) {
	#titulo {
	margin-right: 11em;
	margin-left: 11em;
	}
}

@media (max-width: 360px) {
	.carousel {
	width: auto !important;
  height: auto !important;
  margin-bottom: 0px;
	}

	.carousel .item {
  height: 360px !important;
	}

	.carousel-inner > .item > img {
  /*position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;*/
	height: 360px !important;
  }
}
 